* {
  background-color: #2b2d2f;
  color: white;
  font-family: monospace, 'Courier New';
}



a {
  text-decoration: none;
  color: white;
  margin: .5rem;
  font-size: 1.35rem;
}


pre {
  text-align: center;
  font-size: 16px;
}

div {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}


