* {
  background-color: #2b2d2f;
  color: white;
  font-family: monospace, 'Courier New';
}



a {
  text-decoration: none;
  color: white;
  margin: .5rem;
  font-size: 1.35rem;
}

pre {
  margin: 2rem;
  
}



.main-body {
}

.main-center {
  margin-left: 2rem;

  width: 40%;

  @media (max-width: 425px) {
    width: none;
  }
}

.bullets {
  display: flex; 
  flex-direction: column;
}